.tab{
	width:300px;
}

/* 标签 start */
.tab-nav{
	height: 30px;
}
.tab .tab-nav li{
	float: left;
	margin-right: 5px;
	background-color: #767676;
	border-radius: 3px 3px 0 0;
}
.tab .tab-nav li a{
	display:block;
	height:30px;
	padding:0 20px;
	color:#fff;
	line-height:30px;
	text-decoration:none;
}
.tab .tab-nav li.actived{
	background:#fff;
}
.tab .tab-nav li.actived a{
	color:#777;
}
/* 标签 end */

/* 内容 start */
.tab .content-wrap{
	background:#fff;
	padding:5px;
	height:200px;
}
.tab .content-wrap .content-item{
	/* 防止样式错乱 */
	position:absolute;
	height:200px;
	display:none;
}
.tab .content-wrap .content-item.current{
	display:block;
}
/* 内容 end */